/* .sca input { */
	/* display: block; */
/* } */
.sca_info label {
	width: 100px;
	float: left;
}

.sca_info div {
	margin-top: 2%;
}

.address {
	display: block;
	margin-left: 100px;
	margin-top: 5px;
}

#col1 {
	float: left;
	display: inline-block;
}

#col2 {
	float: left;
	display: inline-block;
	margin-left: 20px;
}

#col1 div{
	width: 300px;
}

#col2 div {
	width: 600px;
}

.hpp {
	clear: both;
	margin-left: 40%;
	margin-top: 30px;
	margin-bottom: 20px;
}

input.scaError, select.scaError {
	border-width: 1px !important;
	border-style: solid !important;
	border-color: #cc0000 !important;
	background-color: #f3d8d8 !important;
	background-image: url(/translationie_realex_payment_integration/static/src/img/error-shading.png) !important;
	background-position: 50% 50% !important;
	background-repeat: repeat !important;
}

label.scaError {
	color: red;
	font-size: 11px;
	display: block;
	float: none;
	width: 300px;
}

.errorSpan {
	display: block;
	float:right;
}
.errorSpan label {
	width: 300px;
}

.disclaimer {
	font-weight: bold;
}

/* .state { */
	/* display: none; */
/* } */